<div class="page-content">
  <div class="row">
    <div class="space-6"></div>
    <div class="col-sm-offset-9 col-sm-3 ">


            <div class="text-right"></div>
            <br/>Nombre: <span class="text-right">{{name}}</span>
            <a ng-click="logout();">Logout</a>
            <br/>

    </div>
  </div>

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Dashboard</li>
    </ul>
</div>


  <div class="row">

    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Desaparecidos</h3>
          <p>Altas de desaparecidos, actualizar estatus desaparecido</p>
          <p><a href="#/adminDesaparecidos" class="btn btn-primary" role="button">Nuevo</a>
            <a href="#/adminDesaparecidos" class="btn btn-success" role="button">Administración</a>
          </p>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>Notificaciones</h3>
          <p>Reportes de desaparecidos desde internet,quejas y sugerencias</p>

          <p>
          <button class="btn btn-primary" type="button">
            Mensajes <span class="badge">4</span>
          </button>

            <button class="btn btn-warning" type="button">
            Quejas y sugerencias <span class="badge">2</span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page-content -->
